* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body h1 {
  margin: 75px 0;
}

body div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 50vh;
  background-color: lightgray;
  border-radius: 25px;
}

body div a {
  margin: 0 25px;
  color: black;
  text-decoration: none;
}

body div a:visited {
  color: black;
}

body div a:hover {
  scale: 1.2;
}
